[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/pack/arbs/start/vim-commentary"]
	path = vim/pack/arbs/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/arbs/start/fzf.vim"]
	path = vim/pack/arbs/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/pack/arbs/start/vim-bracketed-paste"]
	path = vim/pack/arbs/start/vim-bracketed-paste
	url = git@github.com:ConradIrwin/vim-bracketed-paste.git
[submodule "vim/pack/arbs/start/vim-colors-solarized"]
	path = vim/pack/arbs/start/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/pack/arbs/start/haskell-vim"]
	path = vim/pack/arbs/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "vim/pack/arbs/start/elm-vim"]
	path = vim/pack/arbs/start/elm-vim
	url = git@github.com:ElmCast/elm-vim.git
[submodule "vim/pack/arbs/start/ale"]
	path = vim/pack/arbs/start/ale
	url = git@github.com:w0rp/ale.git
[submodule "vim/pack/arbs/start/vim-unimpaired"]
	path = vim/pack/arbs/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "vim/pack/arbs/start/vim-terraform"]
	path = vim/pack/arbs/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/pack/arbs/start/vim-cue"]
	path = vim/pack/arbs/start/vim-cue
	url = git@github.com:jjo/vim-cue.git
